name: Activate UDID

on:
  repository_dispatch:
    types: [activate_udid]

jobs:
  activate:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        
    - name: Activate UDID
      run: |
        php .github/scripts/activate.php
      env:
        UDID: ${{ github.event.client_payload.udid }}
        DEVICE_ID: ${{ github.event.client_payload.device_id }}
